.delete-button,
.downvote-button, 
.upvote-button {
  background-repeat: no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.delete-button {
  background-image: url("../images/delete.svg");
  float: right;
}

.delete-button:hover {
  background-image: url("../images/delete-hover.svg")
}

.downvote-button,
.upvote-button {
  padding-bottom: 5px;
}

.downvote-button {
  background-image: url("../images/downvote.svg");
  margin-right: 10px;
}

.downvote-button:hover {
  background-image: url("../images/downvote-hover.svg");
}

.hidden-button {
  display: none;
}

.save-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 17px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  padding: 5px;
  width: 450px;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:disabled {
  opacity: 0.5;
}

.save-button:disabled:hover {
  background-color: #00A79D;
}

.show-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 17px;
  letter-spacing: 0.5px;
  margin: 10px;
  padding: 5px;
  width: 450px;
}

.upvote-button {
  background-image: url("../images/upvote.svg");
  margin-right: 10px;
}

.upvote-button:hover {
  background-image: url("../images/upvote-hover.svg");
}

