.card-area {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-body {
  color: #939598;
  line-height: 115%;
  margin: 15px 0 20px 0;
}

.card-body br {
  display: none;
}

.card__completed-button {
  float: right;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  margin-top: 2px;
}

.card-container {
  border-bottom: 1px solid #D1D3D4;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  padding: 5px;
  width: 450px;
}

.card-title {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 700;
}

.card-title br {
  display: none;
}

.card-title,
.quality-text {
  display: inline;
}

.label__completed-button {
  margin-right: 5px;
}

.quality-text {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.vote-quality {
  color: #6D6E71;
  font-family: 'Open Sans', sans-serif;
}

.completed-to-do-style {
  opacity: .4;
  text-decoration: line-through;
  text-decoration-color: #000;
}
