.body-input,
.search-input,
.title-input {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 5px;
  width: 450px;
}

.body-input,
.search-input,
.title-input {
  border: solid 1px #D1D3D4;
}

.body-input {
  height: 32px;
  resize: none;      
}

.filter__button-addons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
  width: 450px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
}

::placeholder {
  color: #D1D3D4;
}

 .search__button-show-completed {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 5px;
  width: 200px;
}

.search-input {
  margin: 20px 0 8px 0;
}

.search-section {
 align-items: center;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

