.form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
}

::placeholder {
  color: #D1D3D4;
}

.body-input,
.save-button,
.search-input,
.title-input {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 5px;
  width: 450px;
}

.body-input,
.search-input,
.title-input {
  border: solid 1px #D1D3D4;
}

.body-input {
  height: 32px;
  resize: none;      
}

.search-section {
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;}

.search__button-show-completed {
    font-size: 14px;
    padding: 5px;
    width: 200px;
    background-color: #00A79D;
    border: none;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}

.search-input {
      margin: 20px 0 8px 0;
}

.filter__button-addons {
      width: 450px;
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}