@import url("button-styling.css");
@import url("card-styling.css");
@import url("form-styling.css");
@import url("header-styling.css");
@import url("media-queries.css");

* {
  box-sizing: border-box;
}

body {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}
