@media only screen and (max-width: 550px) {
  .form-container {
    width: 90%;
  }

  .body-input,
  .card-container,
  .save-button,
  .search-input,
  .title-input {
    width: 340px;
  }
}

@media only screen and (max-width: 450px) {
  .body-input,
  .card-container,
  .save-button, 
  .search-input,
  .title-input {
    width: 260px;
  }

  .body-input {
    height: 75px;
  }
}

@media only screen and (max-width: 320px) {
  .body-input,
  .card-container,
  .save-button,
  .search-input,
  .title-input {
    width: 220px;
  }
}